.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

li {
    font-size: 1.5em;
    list-style: none;
    cursor: pointer;
}
li:hover {
    background-color: rgba(211, 211, 211, 0.61);
}

.respuestas {
    display: block;
}
.success{
    background-color: rgba(17, 187, 39, 0.5);
}
.wrong{
    background-color: rgba(165, 42, 42, 0.644);
}
@media (hover:none) {
    li.success:hover {
        background-color: rgba(17, 187, 39, 0.5);
    }
    li.wrong:hover{
        background-color: rgba(165, 42, 42, 0.644);

    }
}